main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    min-width: 400px;
    height: fit-content;
    disply: flex;
    flex-direction: column;
    justify-content: center;    
    
    .form{
        margin-top: 1rem;
        display: flex;
        gap: 0.8rem;
        flex-direction: column;
        justify-content: center;

        h1{
            margin-y: auto
        }


        input{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            outline: none
        }

        button{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            background-color: rgb(199, 22, 22);
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }
}