# Environment variables
.env
.env.local
.env.*.local
/Backend/AI Battle Arena/backend/env.txt
/Backend/Day 137 - Langraph/backend/env.txt

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
